WTForms==2.2.1
jsonschema==2.6.0
uvloop==0.9.1
mongoengine==0.15.0
motor==1.2.1
Markdown==2.6.11
Flask==1.0
Flask-Cors==3.0.9
Flask-PageDown==0.2.2
Flask-PyMongo==2.1.0
Flask-SimpleMDE==0.3.0
Flask-WTF==0.14.3
gunicorn==19.9.0
beautifulsoup4==4.6.0
urllib3==1.24.2
crossrefapi==1.5.0
dnspython==2.0.0
