<!DOCTYPE html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113777015-3"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-113777015-3');
		</script>
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico')}}">
		<title>PaperWiki</title>
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png')}}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png')}}">
		<link rel="manifest" href="{{ url_for('static', filename='site.webmanifest')}}'">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<title>PaperWiki</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   	 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
    <div class = "bodycontainer">
      <div class="container">
    <h1>PaperWiki on Title and Authors.</h1>
    Title: <a href={{ doc.URL}}>{{doc.title[0]}}</a>
    <br>
    Authors:                 {% for author in doc.author %}
                    {% if author.ORCID %}
                    <a href={{author.ORCID}}>{{author['family']}}, {{author['given']}}</a>
                    {% else %}{{author['family']}}, {{author['given']}}
                    {% endif %}
                    {% if loop.index < doc.author|length %}, {% endif %}
                    {% endfor %}
                    <br>
    Year: {{ doc.created['date-parts'][0][0]}}
    <br>
    Journal: {{ doc.publisher}}
    <br>
    Abstract: {{ doc.abstract}}
    <br><br>
    {{content}}
    <br><br>
    <form action={{doc.actionurl}} method = "POST">
	    <button name="edit_wiki" type="submit" value={{doc.DOI}}
	    id={{doc.DOI}}>Edit Wiki</button>
		</form>

<br><br>
<!--  FORUM AREA-->
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "{{doc.DOI}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://paperwiki.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</body>
</html>
