h1 {
    color: #373a3c;
}
h3 {
  font-size: 1.17em;
  font-weight: bold;
}

div.gs_r {
}

div.gs_ri {
  max-width: 600px;
  display: block;
}

h3.gs_rt {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  margin-bottom: 2px;
  word-wrap: break-word;
}

div.gs_a {
  color: #006621;
}
div.gs_a a:link, a:visited {
  text-decoration: underline;
  color: #006621;
}

div.gs_rs {
  margin: 10px 0px 20px 0px;
  word-wrap: break-word;
}

div.gs_ggs {
  margin-left: 16px;
  position: relative;
  z-index: 1;
  float: right;
  min-width: 200px;
  max-width: 256px;
  width: calc(100% - 620px);
  font-size: 12px;
  line-height: 19px;
}

/*  Custom Jumbotron  */
.jumbotron {
  margin-top: 2em;
	border-radius: 3em;
}
/* form center */
.form-inline {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.form-control {
  margin-bottom: .2rem;
}

/*  Custom Button */
.btn-custom {
	border-radius: 1em;
}

.button, input {
  overflow: hidden;
}
/* footer */
#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.title {
  font-size: 1.75rem;
}

.authors {
  font-size: 0.75rem;
}

.journal {
  font-size: 1.00rem;
}

.abstract {
  font-size: 0.75rem;
}

.small-middle-container{
  margin: auto;
  width: 70%;
}